{% extends 'base.html' %}
{% block title %}Notes{% endblock title%}

{% block content %}
<h1 align="center">Notes</h1>
<h2>Here are your notes, {{ user.first_name.capitalize() }}</h2>

{% if user.notes|length == 0 %}
<p>No notes here!</p>
{% else %}
{% for note in user.notes %}
<ul class="list-group list-group-flush" id="notes">
    <li class="list-group-item">{{ loop.index }}. {{ note.data }}
        <button type="button" class="close" onClick="deleteNote({{ note.id }})">
            <span aria-hidden="true">&times;</span>
        </button>
        <!-- <button type="button" class="btn btn-success">Edit</button> -->
    </li>
    {% endfor %}
    {% endif %}
</ul>

{% endblock content %}